.firstSec h1 {
  font-family: var(--font-abrila);
  font-weight: 700;
  font-style: italic;
  font-size: 3.5rem;
  line-height: 68px;
  color: #000000;
}

.firstSec p {
  font-family: var(--font-oswald);
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  font-size: 1.2rem;
}
